/* national.css */

/* Container styles */
.container {
  margin-top: 50px;
}

/* Form styles */
.form-label {
  font-size: 18px;
  color: #333;
}

.form-control {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styles */
.new {
  background-color: #007bff;
  border: none;
  padding: 10px 15px; /* Adjusted padding for smaller button */
  font-size: 16px; /* Adjusted font size */
  border-radius: 5px;
  margin-top: 100px; 

  margin-right:140px ;
  /* Added margin-top to position it under other elements */
}

.new:hover {
  background-color: #0056b3;
}


/* Result container styles */
.result-containerr {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 73.98%;
}

.result-containerr p {
  font-size: 18px;
  color: #333;
}

.result-containerr input[type="text"] {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.result-containerr label {
  font-size: 18px;
  color: #333;
}
